body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width : 100%;
  height : 100%;
  color: #333;
  overflow: hidden;
}

body.dark{
  background-color: #060606;
}

.hero-unit {
  margin: 50px auto 50px auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  transform: scale(0.8);
  transform-origin: top;
}
.hole, .hero-unit{
  background-color: #ddd;
}
.hole{
  border: 1px solid gray;
}

#gameOptions{
  position: fixed;
  height: 0;
  top: 33%;
  margin: auto;
}
.dark .hole, .dark .hero-unit{
  background-color: #222;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

#gameContainer{
  position: relative;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.tile {
  position : absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  cursor: pointer;
  cursor: hand;
}
.tile>div{
  border-radius: 6px;
  padding-top: 30px;
  position: absolute;
  margin:3px;
  font-size: 80px;
  text-align: center;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dark .tile{
  border-color: #222
}
.hole{
  z-index: 1;
  cursor: move;
}
.dark .color0>div{
  background-color: #F88;
  border-color: #A00;
}
.dark .color1>div{
  background-color: #8F8;
  border-color: #0A0;
}
.dark .color2>div{
  background-color: #88F;
  border-color: #00A;
}
.dark .color3>div{
  background-color: #FF8;
  border-color: #AA0;
}
.dark .color4>div{
  background-color: #8FF;
  border-color: #0AA;
}
.dark .color5>div{
  background-color: #F8F;
  border-color: #A0D;
}
.color0>div{
  background-color: #A00;
  border-color: #F88;
}
.color1>div{
  background-color: #0A0;
  border-color: #8F8;
}
.color2>div{
  background-color: #00A;
  border-color: #88F;
}
.color3>div{
  background-color: #AA0;
  border-color: #FF8;
}
.color4>div{
  background-color: #0AA;
  border-color: #8FF;
}
.color5>div{
  background-color: #A0D;
  border-color: #F8F;
}
/* .left>div{
}
.right>div{
}
.up>div{
}
.down>div{
}
.dark .left>div{
}
.dark .right>div{
}
.dark .up>div{
}
.dark .down>div{
} */
.almostGroup>div{
  border-radius: 2px;
  margin:1.0px;
}
.dark .almostGroup>div{
  border-color : #222;
}
.almostGroup.up.left>div{
  border-top-left-radius: 6px;
}
.almostGroup.up.right>div{
  border-top-right-radius: 6px;
}
.almostGroup.down.right>div{
  border-bottom-right-radius: 6px;
}
.almostGroup.down.left>div{
  border-bottom-left-radius: 6px;
}
.almostGroup.left>div{
  margin-left:3px;
}
.almostGroup.right>div{
  margin-right:3px;
}
.almostGroup.up>div{
  margin-top:3px;
}
.almostGroup.down>div{
  margin-bottom:3px;
}
.isGroup>div{
  border-radius: 3.5px;
  margin: -1px;
  border: solid 0px;
}
.isGroup.up.left>div{
  border-top-left-radius: 10px;
}
.isGroup.up.right>div{
  border-top-right-radius: 10px;
}
.isGroup.down.left>div{
  border-bottom-left-radius: 10px;
}
.isGroup.down.right>div{
  border-bottom-right-radius: 10px;
}
.isGroup.left>div{
  margin-left:1px;
  border-left-width:2.5px;
}
.isGroup.right>div{
  margin-right:1px;
  border-right-width:2.5px;
}
.isGroup.up>div{
  margin-top:1px;
  border-top-width:2.5px;
}
.isGroup.down>div{
  margin-bottom:1px;
  border-bottom-width:2.5px;
}
/* .noGroup{
  border-color : #ddd;
}
.dark .noGroup{
  border-color : #222;
} */
.tile.moving>div{
  border-radius: 25%;
}